body{
    background-image: url("food_header_background.jpg");
}
.container{
    background-color: white;
}

.container_two{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow-x: hidden;
    overflow: scroll;
}


.wrapper_two{
    background-image: url('pancakes.gif');
    
    font-weight: bolder;
}

.a{
    text-align: right;
    color: red;
}

.wrapper{
    margin-top: 50px;
   background-color: lightgray;
    color: black;
    text-align: center;
}
.br_recipe{
    background-color: white;
    color: black;

}
#ing{
    margin-left: 50px;
}
img#pancakes{
    float: right;
    margin-right: 70px;
    width: 600px;;
    height: auto;
    border: 10px solid black;
}
img#comments{
    float: right;
    margin-right: 70px;
    width: 500px;;
    height: auto;
}
#accent{
    margin-top: 30px;
}

.cm {
    background-color: #cdd0d4;
    margin: 50px;
    padding: 50px 0 50px 40px;
    font-size: large;
    color: black;
}

.cm .info {
    width: 450px;
    height: 25px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.checkbox, .button {
    margin-top: 20px;
    font-size: large;
}

.checkbox {
    width: 25px;
    height: 20px;
}

.box {
    display: block;
    background-color: white;
    padding: 10px;
    margin: 30px 40px 0 0;
    border: 1px solid black;
}

.box h5:hover {
    color: red;
}

.footer{
    text-align: center;
    color: blanchedalmond;
    background-color: black;  
}

@media only screen and (max-width: 800px) {
     img#pancakes{
         display: none;
     }
     li#hey{
         display: none;
     }
     img#logged{
         display: none;
     }
     .container_two{
         font-size: small;
     }
  }